<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aplicativo Web, Zona Azul </title>

    <!--Nombre: Jhostyn Javier Gavilanez Suarez -->
    <!--Aqui se realiza la implementacion de un formulario primero con la ejecucion de listas y luego se 
    realiza la conexion con mongo, primero verifico si guarda en forma de lista para luego cambiar esos datos
a los script generadors por mongodb--> 

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <!-- Script de Alerta para identificar y verificar que se haya guardado en la lista -->
    <script>
        //este es para el mensaje de borrado de la lista en Javascript 
        function ListaEliminada() {
            var el_cedula = document.getElementById("el_cedula").value;
            var el_name = document.getElementById("el_nombre").value;
            var el_apellido = document.getElementById("el_apellido").value;
            var el_direccion = document.getElementById("el_direccion").value;
            var el_telefono= document.getElementById("el_telefono").value;
            if (el_cedula == [] || el_name == [] || el_apellido == []|| el_direccion == []|| el_telefono == []) {
                alert("No hay ningun elemento ");
            } else {
                alert('Todos los registros de la lista han sido Eliminados');
            }

        }

        // Este es el mensaje de ngreso de datos a la lista de registros, para verificar que se guarden datos 
        function validacionRegistro() {
            var cedula = document.getElementById("cedula").value;
            var username = document.getElementById("username").value;
            var apellido = document.getElementById("apellido").value;
            var direccion = document.getElementById("direccion").value;
            var telefono = document.getElementById("telefono").value;
            if (cedula == [] || username == [] || apellido == []|| direccion == []|| telefono == []) {
                alert("Debes completar Todos los Campos para Guardar el Registro");
            } else {

                alert('Datos registrados en la Lista');
            }
        }
    </script>

</head>

<body>

    <!--Este es el head de nuestra aplicacion la parte de arriba, que se encuentra una franja naranja -->
    <div class="page-header bg-info text-white text-center">
        <h1>Registro de Datos en Zonal Azul </h1>
    </div>

    <!-- Inicio del Formulario del controlador de envio e registro de datos de los clientes de zona Azul  -->
    <!--Aqui es donde se hace el llamdo del controlodor del formulario que es del Envio de datos e registro -->
    <form action="{{url_for('enviarRegistroClientes')}}" method="POST" style="width: 35%; margin: 0 auto;">
        <!--titulo de donde se añade el formulario-->
        <legend class="text-center  text-info"> Registro de Datos del CLiente</legend>
        <!-- 1. Text Input del cedula -->
        <div class="form-group">
            <label for="cedula">Cedula: </label>
            <input type="number" class="form-control border border-secondary" id="cedula" aria-describedby="cedula"
                placeholder="Ingrese su cedula" name="Registro_Cedula">
        </div>
        <!-- 2. Text Input del nombre -->
        <div class="form-group">
            <label for="username">Nombre: </label>
            <input type="text" class="form-control border border-secondary" id="username" aria-describedby="Username"
                placeholder="Ingrese su nombre" name="Registro_Nombre">
        </div>
        <!-- 3. Text Input del apellido -->
        <div class="form-group">
            <label for="apellido">Apellido: </label>
            <input type="text" class="form-control border border-secondary" id="apellido" aria-describedby="apellido"
                placeholder="Ingrese su Apellido" name="Registro_Apellido">
        </div>
        <!-- 4. Text Input del apellido -->
        <div class="form-group">
            <label for="direccion">Direccion: </label>
            <input type="text" class="form-control border border-secondary" id="direccion" aria-describedby="direccion"
                placeholder="Ingrese su Direccion" name="Registro_Direccion">
        </div>
        <!-- 5. Ingreso del telefono   -->
        <div class="form-group">
            <label for="telefono">Telefono: </label>
            <input type="number" class="form-control border border-secondary" id="telefono" aria-describedby="telefono"
                placeholder="Ingrese su numero de telefono" name="Registro_Telefono">
        </div>


        <!-- 9. Submit Button de agregar tarea -->
        <button type="submit" class="btn btn-success  p-2 my-3 bg-info " onclick="validacionRegistro()"
            value="registro">Registrar Cliente</button>

    </form>
    <!-- End of Form -->


    <!--Formulario de borrar datos de toda la lista, del controlador borrar Registro Clientes  -->
    <form action="{{url_for('borrarRegistroClientes')}}" method="POST" style="width: 35%; margin: 0 auto;">
        <!-- 4. Boton de eliminar todo el registro -->
        <div class="form-group">
            <label for="idTarea">Deseas Eliminar El registro Clientes?? </label>
            <button type="submit" class="btn btn-success  p-2 my-3 bg-info" onclick="ListaEliminada()"
                value="eliminarTodos">Eliminar Todo el Registro</button>
        </div>
    </form>


    <!--Div de mostrar la tabla el resultado -->
    <table class="table" style="width: 60%; margin: 0 auto;">
        <thead>
            <tr>
                <th scope="col"
                    style="background-color: #319ffa; text-align: center; border-radius: 5px; color: whitesmoke;">
                    Cedula</th>
                <th scope="col"
                    style="background-color: #319ffa; text-align: center; border-radius: 5px; color: whitesmoke;">
                    Nombre</th>
                <th scope="col"
                    style="background-color: #319ffa; text-align: center; border-radius: 5px; color: whitesmoke;">
                    Apellido</th>
                <th scope="col"
                    style="background-color: #319ffa; text-align: center; border-radius: 5px; color: whitesmoke;">
                    Direccion</th>
                <th scope="col"
                    style="background-color: #319ffa; text-align: center; border-radius: 5px; color: whitesmoke;">
                    Telefono</th>

        </thead>
        <tbody ">
            <!--Se utiliza un for para el crear una lista en forma de tablas, tal como se ve a cotinuacion-->
            {% for tablaTarea in RegistrosCliente %}

            <tr>

  <!--Muestra los datos de la cedula -->
  <th id=" el_cedula" style=" text-align: center; background-color: antiquewhite; text-align: center; border-radius:
  5px;">{{tablaTarea.Registro_Cedula}}</th>

            <!--Muestra los datos ingresados por el usuario -->
            <th id=" el_name" style=" text-align: center; background-color: antiquewhite; text-align: center; border-radius:
            5px;">{{tablaTarea.Registro_Nombre}}</th>

            <!--Muestra los datos ingresados por el usuario -->
            <th id=" el_apellido" style=" text-align: center; background-color: antiquewhite; text-align: center; border-radius:
              5px;">{{tablaTarea.Registro_Apellido}}</th>

            <!--Muestra los datos ingresados por el usuario -->
            <th id=" el_direccion" style=" text-align: center; background-color: antiquewhite; text-align: center; border-radius:
         5px;">{{tablaTarea.Registro_Direccion}}</th>
            <!--Mostrar el numero de telefonoco del usuario -->
            <th id="el_telefono"
                style="text-align: center; background-color: antiquewhite; text-align: center; border-radius: 5px;">
                {{tablaTarea.Registro_Telefono}}</th>


            {% endfor %}
            <!--Aqui termina el for de la tabla -->

        </tbody>


    </table>
    <br>

    <!--Este es el footer de nuestro archivo -->
    <footer class="bg-dark text-center text-white">

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: #319ffa;">
            © 2022 Jhostyn Javier Gavilánez Suárez
        </div>
        <!-- Copyright -->
    </footer>




    <!-- Bootstrap 5 Scripts -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
    </script>

    <!-- Scripts DJANJO -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>